.body{
	background-color: black;
}
.question{
	color: blue;
	text-align: left;
	font-size: 20px;
}
#FAQs{
	background-color: black;
}
.content{
	text-align: left;
	font-size: 20px;
	padding-left: 25px;
}