h1 {
    font-size: 5em;
    font-family: arial, helvetica;
    color: rgb(17, 0, 255);
    margin: 0;
    padding: 0;
}

.intro p {
    color: #000000
}

.section{
    text-align: center;
}

#footer, #header {
    width: 100%;
    position: fixed;
    height: 50px;
    display: block;
    background: #333333;
    z-index: 9;
    box-sizing: border-box;
    text-align: center;
    color: #f2f2f2;
    padding: 0 0 0 0;
}

#menu{
    visibility: hidden;
    background-color: black;
    text-align: center;
}
#header {
    top: 0px;              
}

#footer {
    bottom: 0px;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.row{
    padding-right: 20px;
}
#topnav{
    all: inherit;
    height: 50px;
}