body{
    background-color: white;
  }
  
  h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: lato regular;
    font-weight: bold;
  }
  .container{
    padding-top: 1%;
  
  }
  .lmao {
    background-color: none;
    padding: 2% 2% 2% 2%;
  }
  .lmao1 { 
    background-color: none;
    padding: 2% 2% 2% 2%;
  }
  
  @media screen and (max-width: 600px) and (min-width: 220px)
  {
    img{
          padding-left: 21%;
       }
  }
  @media screen and (max-width: 1000px) and (min-width: 601px)
  {
    img{
          padding-left: 15%;
       }
  }
  